{
  "plugins": [
    ["transform-es2015-modules-commonjs"],
    ["add-module-exports"],
    ["transform-flow-strip-types"],
    ["transform-async-to-generator"],
    ["transform-es2015-parameters"],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "production": {
      "comments": false,
      "minified": true
    }
  }
}
